@import "../../variables";

.cpSnippetContainer {
  @include flexRow;
  margin-bottom: $px32;
}

.cpSnippet {
  height: 240px;
  width: 230px;
  padding: $px24;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $orange;
  border-radius: 10px;
  margin: $px12;
}

@media (max-width: 768px) {
  .cpSnippet-container {
    overflow-x: scroll;
  }
}

.organizer {
  @include flexRow;
  padding: $px32 0;
  background-color: $yellow;

  p {
    margin-bottom: 0;
  }

  a {
    margin-left: $px24;
  }
}
